package-db: /Users/mossplix/Software/cwezi/cabal-dev/packages-7.0.4.conf
local-repo: /Users/mossplix/Software/cwezi/cabal-dev/packages
user-install: False
remote-repo: hackage.haskell.org:http://hackage.haskell.org/packages/archive
remote-repo-cache: /Users/mossplix/.cabal/packages
world-file: /Users/mossplix/.cabal/world
build-summary: /Users/mossplix/Software/cwezi/cabal-dev/logs/build.log
remote-build-reporting: anonymous
install-dirs user
  prefix: /Users/mossplix/Software/cwezi/cabal-dev/
install-dirs global
  prefix: /Users/mossplix/Software/cwezi/cabal-dev/